# General
.DS_Store
**/*.log

# Node
**/node_modules/
**/dist/
**/.env
**/.env.*

# Next.js
path2ivy-frontend/.next/
path2ivy-frontend/.vercel/

# Expo/React Native
Path2IvyMobile/.expo/
Path2IvyMobile/android/
Path2IvyMobile/ios/

# Build & Coverage
**/coverage/
**/.turbo/

# Misc
*.swp
*.swo
